langchain
langgraph
pymongo
chromadb
agentops
groq
python-dotenv
sentence-transformers
networkx
pyvis
fastapi
uvicorn
langchain-community
mongoose
docx2txt
pandas
openpyxl
xlrd
langchain_groq
python-multipart
streamlit
agents
# always update this to the latest version for agents
tf-keras
langchain-huggingface
langchain-chroma
unstructured
chroma-migrate
PyPDF2